@use "globals" as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px; 
  
    .logo img {
      max-height: 100px; 
    }
    ul {
      display: flex; 
      gap: 40px; 
      li {
      margin: 0;
          a {
          text-decoration: $text-decoration-none;
          color: $negro; 
              &:hover {
              color: $secundario;
              }
          }
      }
    }
}