@use "globals" as *;

body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: $list-style-none;
}

.cajasIndex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 10px;
  .caja {
    flex: 1;
    text-align: center;
    h2 {
      color: $gris-oscuro;
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: $font-family-title-1;
      font-weight: $font-weight-regular;
      .texto-bold {
        font-weight: $font-weight-bold-1;
      }
      .texto-secundario {
        padding: 0;
        margin: 0;
        color: $secundario;
      }
    }
    img {
      width: 350px;
      display: inline;
    }
    button {
      padding: 12px 25px;
      border-radius: 25px;

      &.boton1 {
        margin-top: 5px;
        background-color: $secundario;
        border: 1px solid $gris-claro;
        a {
          text-decoration: $text-decoration-none;
          list-style-type: $list-style-none;
          color: $blanco;
        }
      }

      &.boton2 {
        background-color: $gris-claro;
        border: 1px solid $gris-oscuro;
        a {
          text-decoration: $text-decoration-none;
          list-style-type: $list-style-none;
          color: $gris-oscuro;
        }
      }
    }
  }
}

.cajasAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 10px;
  .caja {
    flex: 1;
    h3 {
      margin: 20px 200px 0 0;
      font-family: $font-family-title-1;
      font-weight: $font-weight-regular;
    }
    img {
      margin-left: 150px;
      width: 200px;
      display: inline;
    }
  }
}

.cajasSkill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 10px;
  .caja {
    flex: 1;
    text-align: left;
    margin: 0 0 0 150px;

    h2 {
      font-family: $font-family-title-1;
      font-weight: $font-weight-regular;
      text-decoration: underline;
    }
    img {
      width: 250px;
      display: inline;
    }
    .skills-format {
      display: flex;
      gap: 25px;
      p {
        margin: 0;
      }
    }
  }
}

.cajasProject {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 10px;
  .image-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 0 0 150px;

    img {
      max-width: 450px;
      border: 2px solid #ccc;
      border-radius: 8px;
      transition: transform 0.2s ease;
    }

    .arrow-button {
      color: $gris-oscuro;
      background-color: $gris-claro;
      border: none;
      cursor: pointer;
      &:hover {
        color: $secundario;
      }
    }
    .caja {
      flex: 1;
      text-align: left;
      margin: 0 150px 0 150px;
      h2 {
        font-family: $font-family-title-1;
        font-weight: $font-weight-regular;
        text-align: center;
      }
      button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $secundario;
        border: none;
        padding: 10px 10px;
        border-radius: 40px;
        cursor: pointer;
        .custom-button {
          cursor: pointer;        
          a {
            text-decoration: $text-decoration-none; 
          }
        }
        .fa-solid.fa-code {
          color: $blanco; 
        }                
      }
    }
  }
}


.cajasContact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 10px;
  .caja {
    flex: 1;
    text-align: left;
    margin: 0 0 0 225px;

    h2 {
      font-family: $font-family-title-1;
      font-weight: $font-weight-regular;
      span {
        font-weight: lighter;
      }
    }
    img {
      width: 200px;
      display: inline;
    }
  }
}
