@use "globals" as *;

body, ul, li {
    margin: 0;
    padding: 0;
    list-style: $list-style-none;
}

.cajasIndex {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 35px 10px;
    .caja {
        flex: 1;
        text-align: center;
        h2{
            color: $gris-oscuro;
            margin-top: 0px;
            margin-bottom: 0px;
            font-family: $font-family-title-1;
            font-weight: $font-weight-regular;
            .texto-bold{
                font-weight: $font-weight-bold-1;
            }
            .texto-secundario{
                padding: 0;
                margin: 0;
                color: $secundario;
            }
        }
        img {
            width: 350px; 
            display: inline;
        }
        button {
            padding: 12px 25px;
            border-radius: 25px;
        
            &.boton1 {
                margin-top: 5px;
                background-color: $secundario;
                border: 1px solid $gris-claro;
                a {
                    text-decoration: $text-decoration-none;
                    list-style-type: $list-style-none;
                    color: $blanco;
                }
            }
        
            &.boton2 {
                background-color: $gris-claro;
                border: 1px solid $gris-oscuro;
                a {
                    text-decoration: $text-decoration-none;
                    list-style-type: $list-style-none;
                    color: $gris-oscuro;
                }
            }
        }        
    }
  }

  .cajasAbout {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 35px 10px;
    .caja {
        flex: 1;
        text-align: center;
        h3{
            margin-top: 0px;
            margin-bottom: 0px;
            font-family: $font-family-title-1;
            font-weight: $font-weight-regular;
        }
        img {
            width: 350px; 
            display: inline;
        }      
    }
  }