  /* Colores */
  $blanco: #ffffff;
  $gris-claro: #c9c8c8;
  $gris-oscuro: #636363;
  $negro: #000000;
  $primario: #21ba21;
  $secundario: #3c8ef9;
  /* Fonts */
  $font-family-description: Manrope;
  $font-family-title-1: Work Sans;
  $font-weight-bold-1: Bold;
  $font-weight-medium: Medium;
  $font-weight-regular: Regular;